.input {
	&__card {
		min-height: 48px;
		padding: 8px 16px;
		width: 100%;
		font-size: 16px;
		color: #111;
		background-color: white;
		border: 2px solid #ddd;
		border-radius: 16px;
		margin-bottom: 7px;

		&:focus {
			box-shadow: 0 0 0 4px rgba(0, 132, 255, .5);
			outline: 0;
		}
	}
}
