/* // DETAILS PAGE */
.details {
	width: 100%;
	height: 100%;
}

.details__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.details__card {
	height: 500px;
	border-radius: var(--card-border-radius);
	overflow: hidden;
}
