.masonic {
	padding: 8px;
	width: 100%;
	max-width: 960px;
	margin: 165px auto 0; /*was 162 auto 0*/
}

.container {
	min-height: 100vh;
}

.mason-card {
	width: 236px;
	height: auto;
	border-radius: 10px;
	background-color: #333;
	overflow: hidden;
}

.mason-card span {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333;
	color: #fff;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.img {
	width: 100%;
	display: block;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
