.auth {
	&__card {
		width: 484px;
		height: 684px;
	}

	&__card-body {
		min-height: 400px;
		padding: 20px 10px 24px;
	}

	&__card-body-upper {
		text-align: center;
	}

	&__logo {
		width: 45px;
		height: 45px;
		margin: 0 auto;
	}

	&__text-wrapper {
		& h3 {
			color: rgb(51, 51, 51);
			font-size: 36px;
			font-weight: 600;
			-webkit-font-smoothing: antialiased;
			margin: 0px auto 18px;
			width: 400px;
		}
		& p {
			color: rgb(51, 51, 51);
			font-size: 16px;
			font-weight: normal;
			margin-top: -15px;
			margin-bottom: 32px;
		}
	}
}

.grey-background {
	background-color: #efefef;
}
