.auth {
	&__card {
		width: 484px;
		min-height: 584px;
	}

	&__card-body {
		min-height: 400px;
		padding: 20px 10px 24px;
	}

	&__card-body-upper {
		text-align: center;
	}

	&__logo {
		width: 45px;
		height: 45px;
		margin: 0 auto;
	}

	&__text-wrapper {
		& h3 {
			color: rgb(51, 51, 51);
			font-size: 36px;
			font-weight: 600;
			-webkit-font-smoothing: antialiased;
			margin: 0px auto 18px;
			width: 400px;
		}
		& p {
			color: rgb(51, 51, 51);
			font-size: 16px;
			font-weight: normal;
			margin-top: -15px;
			margin-bottom: 32px;
		}
	}
}

.policy {
	margin-top: 16px;
	text-align: center;

	& p:first-child {
		font-size: 11px;
		font-weight: normal;
		text-align: center;
		transition: opacity 0.2s linear 0s;
		color: rgb(142, 142, 142);
		width: 224px;
		margin: 0 auto;
	}
}

.bold-text {
	color: #3b3939;
	font-weight: bold;
}

.member-link {
	text-align: center;
	display: block;
	margin-top: 12px;

	& a {
		text-decoration: none;
		color: rgb(51, 51, 51);
		cursor: pointer;
	}
}

.wrapper {
	width: 268px;
	margin: 0 auto;
}

.grey-background {
	background-color: #efefef;
}
