.homepage {
	width: 100%;
	height: 100%;
	padding: 30px;
}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	grid-gap: 10px;
}

.box {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: lightpink;
}

.box-small {
	grid-row-end: span 1;
}
.box-meduim {
	grid-row-end: span 2;
}
.box-large {
	grid-row-end: span 2;
}
