.homepage {
	width: 100vw;
	height: 100vh;
	padding: 30px;
	overflow: hidden;

	@media (max-width: 34.375em) {
		padding: 20px 0px;
	}
}

.homepage::after {
	width: 100%;
	height: 100%;

	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
