.homepage {
	width: 100%;
	height: 100%;
	padding: 30px;
}

.homepage::after {
	width: 100%;
	height: 100%;

	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 100px;
	grid-gap: 10px;
}

.box {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.box-small {
	grid-row-end: span 2;
}
.box-medium {
	grid-row-end: span 3;
}
.box-large {
	grid-row-end: span 4;
}
