.homepage {
	&__card {
		width: 485px;
		height: 381px;
	}
	&__logo {
		width: 50px;
		height: 50px;
		margin: 0 auto;
	}
	&__card-body {
		margin: 40px 40px 24px 40px;
	}
	&__text-wrapper {
		text-align: center;

		& h1 {
			margin: 8px;
		}

		& p {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 16px;
		}
	}
}

.login-button {
	color: white;
	background-color: #e60023;

	&:hover {
		background-color: #ad081b;
	}
}

.signup-button {
	color: #111;
	background-color: #efefef;
	&:hover {
		background-color: #e2e2e2;
	}
}

.button-wrapper {
	margin: 8px;
}
