.homepage {
	&__card {
		width: 485px;
		height: 381px;

		& button {
			min-height: 48px;
		}
	}
	&__logo {
		width: 50px;
		height: 50px;
		margin: 0 auto;
	}
	&__card-body {
		margin: 40px 40px 24px 40px;
	}
	&__text-wrapper {
		text-align: center;

		& h1 {
			margin: 8px;
		}

		& p {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 16px;
		}
	}
}
