* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	// font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
		"Helvetica Neue", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: rgb(33, 25, 34);
	font-size: 12px;

	@media (max-width: 50em) {
		font-size: 10px;
	}
}

button {
	cursor: pointer;
	outline: none;
	border: none;
}
