* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', Helvetica, Arial, Sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

button {
	cursor: pointer;
}
