// css variables 
:root {
    --off-black: #20222b;
    --off-white: #a5afd7;
    --dark-blue: #333745;
    --light-blue: #464b5e;
    --blue: #3c4251;
    --purple: purple;

    --pad-sm: 4.8rem;
    --pad-md: 3.2rem;
    --pad-sm: 1.6rem;
}

// sass variables

$purple: purple;